@model IEnumerable<wardrobe.Models.Season>

@{
    ViewBag.Title = "Index";
}

<h2>Seasons List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seasons)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Seasons)
        </td>
        @*only these 4 seasons will be included*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SeasonsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SeasonsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SeasonsID })
        </td>*@
    </tr>
}

</table>
