@model IEnumerable<wardrobe.Models.ClothingDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        @*Thumbnails of items in wardrobe*@
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <h2 class="title"><strong>@Html.DisplayFor(modelItem => item.Title)</strong></h2>
                    @*Image thumbnail UrlHelper and rearranged fields*@
                    <img src="@Url.Content(item.Photo)" class="img-responsive" />
                    <p class="clothingType">@Html.DisplayFor(modelItem => item.ClothingType.ClothingType1)</p>
                    <p class="occasssion"> @Html.DisplayFor(modelItem => item.Occassion.Occassions)</p>
                    <p class="season">@Html.DisplayFor(modelItem => item.Season.Seasons)</p>
                    <p class="color">@Html.DisplayFor(modelItem => item.Color)</p>     
                    @*Added button specifically for details, removed edit and delete*@               
                    @Html.ActionLink("Product Details", "Details", new { id = item.ClothingID }, new{ @class = "btn btn-primary" })
                   

    @*<ol class="breadcrumb">
                        <li><a href="#"> @Html.ActionLink("Edit", "Edit", new { id = item.ClothingID }) </a></li>
                        <li><a href="#"> @Html.ActionLink("Details", "Details", new { id = item.ClothingID })</a></li>
                        <li class="active">@Html.ActionLink("Delete", "Delete", new { id = item.ClothingID })</li>
                    </ol>*@
                </div>
            </div>
        </div>
    }
</div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClothingType.ClothingType1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occassion.Occassions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season.Seasons)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothingType.ClothingType1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occassion.Occassions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season.Seasons)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ClothingID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ClothingID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ClothingID })
            </td>
        </tr>
    }

    </table>*@
